---
import EnDivisionCorrect from '../components/EnDivisionCorrect.tsx';
import '../components/index.css';
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Calculateur pour achat en division - Wallonie, Belgique" />
    <title>Credit Castor - Calculateur Division</title>
  </head>
  <body>
    <EnDivisionCorrect client:load />
  </body>
</html>
